@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	color: white;
	background-color: black;
	scrollbar-width: none;

	font-family: 'Host Grotesk', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	letter-spacing: 0.01rem;
}

.funnel-display {
	font-family: 'Funnel Display', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}
