@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	color: white;
	background-color: black;
	scrollbar-width: none;

	font-family: 'Host Grotesk', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	letter-spacing: 0.25px;
	font-weight: 400;
}

.funnel-display {
	font-family: 'Funnel Display', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

.grains {
	background-image: url('/grains.png');
	background-repeat: round;
	background-blend-mode: multiply;
	overflow: hidden;
}

.vignette {
	box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
	overflow: hidden;
}
