.navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 8vh;
	padding: 0 2rem;
	border-radius: 0 0 24px 24px;
	color: var(--text);
	background-color: var(--text-inverted);
	z-index: 10;
}

.nav-logo h3 {
	font-size: 2rem;
	font-family: 'Orbit', sans-serif;
	letter-spacing: -0.05rem;
}

.nav-links {
	display: flex;
	gap: 2rem;
}

.nav-link {
	color: black;
	font-size: 1rem;
	font-weight: 600;
	text-decoration: none;
	transition: all 300ms ease;
}

.nav-link:hover {
	color: hsl(0, 0%, 50%);
}

.hamburger-menu {
	display: none;
}

@media only screen and (max-width: 600px) {
	.nav-links {
		display: none;
	}

	.navigation {
		flex-direction: row;
	}

	.nav-buttons {
		display: none;
	}
	.hamburger-menu {
		display: block;
	}
}
