.home-main-container {
	display: flex;
	flex-direction: column;
	height: 92vh;
}

.hero-image {
	display: flex;
	flex-direction: column;
	position: relative;
	height: 50vh;
	background: url('../../assets/hassaan-here-bKfkhVRAJTQ-unsplash.jpg');
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	border-radius: 0 0 36px 36px;
	margin: 0 2rem 1rem 2rem;
	top: 0;
}

.social-media {
	color: black;
	background-color: white;
	position: absolute;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	gap: 1.5rem;
	padding: 1rem 1.5rem 0.05rem 1.5rem;
	border-radius: var(--radius) 0 0 0;
}

.social-media::before {
	content: '';
	position: absolute;
	background-color: transparent;
	bottom: 0;
	right: 100%;
	height: calc(var(--radius) * 2);
	width: var(--radius);
	border-bottom-right-radius: var(--radius);
	box-shadow: 0 var(--radius) 0 0 white;
}

.social-media::after {
	content: '';
	position: absolute;
	background-color: transparent;
	bottom: 100%;
	right: 0;
	height: calc(var(--radius) * 2);
	width: var(--radius);
	border-bottom-right-radius: var(--radius);
	box-shadow: 0 var(--radius) 0 0 white;
}

.social-icon {
	color: hsl(0, 0%, 50%);
	transform: scale(1.01) translateZ(0);
	transition: all 300ms ease;
}

.social-icon:hover {
	color: hsl(0, 0%, 20%);
	transform: scale(1.2) translateZ(0);
}

.hero-text {
	flex: 1;
	margin: 0 2rem;
	border-radius: 36px 36px 0 0;
	display: flex;
	flex-direction: row;
}

.hero-text > span {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.left {
	container-type: inline-size;
}

.left h1 {
	font-family: 'Orbit', sans-serif;
	font-size: 15cqw;
	letter-spacing: -0.5rem;
	display: flex;
}

.hero-title span {
	user-select: none;
}

.right {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	padding: 2rem;
}

.right * {
	align-self: flex-start;
	justify-self: center;
}

.sub-heading {
	display: inline-flex;
	flex-wrap: wrap;
	flex-direction: row;
	font-size: 2rem;
	font-weight: 700;
}

.paragraph {
	font-size: 1.25rem;
	line-break: strict;
	font-weight: 500;
}

/* Mobile Responsivity */

@media only screen and (max-width: 640px) {
	.hero-text {
		flex-direction: column;
	}

	.hero-text span {
		width: 100%;
	}
}
