:root {
	--border: hsla(0, 0%, 0%, 0.25);
	--primary: hsl(219, 100%, 62%);
	--secondary: hsl(263, 100%, 60%);
	--text: hsl(0, 0%, 0%);
	--text-inverted: hsl(0, 0%, 100%);
	--radius: 24px;

	font-family: 'Inter', sans-serif;
	scrollbar-width: none;
}

/* Resetting default styles */
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	box-sizing: border-box;
	width: auto;
}

body {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.1;
}

ol,
ul,
dl {
	list-style: none;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: inherit;
}
