:root {
	--border: hsla(0, 0%, 0%, 0.25);
	--primary: hsl(219, 100%, 62%);
	--secondary: hsl(263, 100%, 60%);
	--text: hsl(0, 0%, 0%);
	--text-inverted: hsl(0, 0%, 100%);
	--radius: 24px;

	font-family: 'Inter', sans-serif;
	scrollbar-width: none;
}

/* Resetting default styles */
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	box-sizing: border-box;
	width: auto;
}

body {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.1;
}

ol,
ul,
dl {
	list-style: none;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: inherit;
}

/* Button styles */
.button {
	display: inline-flex;
	align-items: center;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	padding: 0.75rem 2rem;
	font-size: 1rem;
	font-weight: bold;
	border-radius: 12px;
	box-shadow: 0 0px 7px -5px rgba(0, 0, 0, 0.5);
	transform: scale(1.01) translateZ(0);
	transition: all 300ms ease-in-out;
}

.button:hover {
	background: rgb(193, 228, 248);
	color: rgb(33, 0, 85);
	transform: scale(1.1) translateZ(0);
}

.button:active {
	transform: scale(0.95) translateZ(0);
}

.hoverEffect {
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
}

.hoverEffect div {
	background: rgb(222, 0, 75);
	background: linear-gradient(90deg, rgba(222, 0, 75, 1) 0%, rgba(191, 70, 255, 1) 49%, rgba(0, 212, 255, 1) 100%);
	border-radius: 40rem;
	width: 10rem;
	height: 10rem;
	transition: 0.4s;
	filter: blur(20px);
	animation: effect infinite 3s linear;
	opacity: 0.5;
}

.button:hover .hoverEffect div {
	width: 8rem;
	height: 8rem;
}

@keyframes effect {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
/* End of Button styles */
